<div class='timer-box col-xs-6 col-xs-offset-3'>
	<div class='inner-box'>
		<div class='pause'>
			<%= link_to 'Pause', '#' %>
		</div>
		<div id='time' class='time center'>
			0:00:00
		</div>
		<div class='stop'>
			<%= link_to 'Stop', '#', :id => 'stop', 'data-create-url' => '', :remote => true %>
		</div>
	</div>
</div>