<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<h1>Clients</h1>

	<div class='item-box'>	
		<%= render partial: 'shared/clients',
			locals: {
				clients: @clients
			} %>
		<h3>
			<%= render partial: 'shared/add',
				locals: {
					path: new_client_path,
					item_to_add: 'New Client'
				} %>
		</h3>
	</div>
  <%= render 'shared/back' %>
</div>