@font-face {
  font-family: 'Armata-Regular';
  src: url('/assets/Armata-Regular.eot') format('embedded-opentype');
  src: url('/assets/Armata-Regular.otf') format('opentype'),
			 url('/assets/Armata-Regular.woff') format('woff'),
			 url('/assets/Armata-Regular.ttf') format('truetype'), 
			 url('/assets/Armata-Regular.svg#Armata-Regular') format('svg');

  font-weight: normal;
  font-style: normal;
}

