

/*  STRUCTURAL */
$dark-blue: #626f91;
$light-blue: #7286b2;
$white: #ffffff;
$gray: #888888;
$black: #000000;

html, body {
	height: 100%;
}

body {
	background: $dark-blue; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #48516a 0%, #252732 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#48516a), color-stop(100%,#252732)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #48516a 0%,#252732 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #48516a 0%,#252732 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #48516a 0%,#252732 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #48516a 0%,#252732 100%); /* W3C */
	background-size: 100%;

	font-family: 'Armata-Regular', sans-serif;
	color: $light-blue;

}

nav.navbar-default {
	border-radius: 0;
	background-color: rgba(0,0,0,0.2);
	
	font-color: $light-blue;
	border: 1px solid $black;
	box-shadow: rgba(0,0,0,0.92) 9px 6px 8px;

	.navbar-brand {
		color: $light-blue;
	}

	.navbar-nav > li > a {
		color: $light-blue;
	}
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: $dark-blue;
}

/* GLOBAL STYLES */

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Armata-Regular', sans-serif;
	color: $light-blue;
}

h1 {
	font-size: 24px;
	color: $white;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 1.2em;
	line-height: 1.5em;
	height: 1.3em;
	overflow: hidden;
	a.add-new {
		color: $white;
		font-style: italic;
	}
}

ul {
	list-style-type: none;
}

a {
	color: inherit;

	&:hover {
		margin-left: 2px;
		color: $dark-blue;
		text-decoration: none;
	}	
}

.highlight,
.highlight a {
	color: $white;
}

.btn-primary {
	color: $light-blue;
	background-color: #252732;
	border-color: $dark-blue;
}

.btn-primary:hover {
	color: $white;
	background-color: $dark-blue;
	border-color: $light-blue;
	margin-left: 0;
}

select,
select:focus {
	background-color: #333748;
	border: none;

}

option:disabled {
	color: $gray;
}

select {
	width: 90%;
}

input[type='date'] {
	width: 45%;
	font-size: 12px;
}

:focus {
	outline: none;
}

.vert-list {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 0.7;
	overflow: hidden;
}

h1 .h1-small {
	font-size: 60%;
}

.glyphicon {
	display: inline;
	padding: 2px;
	/*background-color: $white;*/
	border-radius: 3px;

}

.clr {
	clear: both;
}

.inactive {
	visibility: hidden;
}
/*	MAIN FEATURES */

.float-box {
	border: 1px solid #111111;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.92) 9px 6px 8px;

	padding: 20px;

}

.item-box {
	margin: 5px 30px;
	a {
		color: $light-blue;

		&:hover {
			color: $dark-blue;
		}
	}
}

.timer-box {
	background: #48516a; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #48516a 0%, #252732 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#48516a), color-stop(100%,#252732)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #48516a 0%,#252732 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #48516a 0%,#252732 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #48516a 0%,#252732 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #48516a 0%,#252732 100%); /* W3C */
	background-size: 100%;

	position: relative;
	height: 74px;
	width: 280px;
	margin: 40px auto;
	padding: 10px;
	border: none;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 30px rgba(255, 0, 0, .8);
	box-shadow: 0px 0px 30px rgba(255, 0, 0, .8);
	display: none;
	z-index: 5;

	a {
		color: #607196;

		&:hover {
			color: #48516a;
		}
	}

	&.active {
		display: block;
	}

	&.running {
		-webkit-box-shadow: 0px 0px 30px rgba(0, 255, 0, .8);
		box-shadow: 0px 0px 30px rgba(0, 255, 0, .8);
		}

	&.paused {
		-webkit-box-shadow: 0px 0px 30px rgba(250, 215, 0, .8);
		box-shadow: 0px 0px 30px rgba(250, 215, 0, .8);
	}
	
	.inner-box {
		position: relative; 
		height: 54px;
		width: 260px;
		margin: 0;
		font-size: 28px;

		background-color: #252732;
	
		div {
			height: 100%;
			padding: 7px 10px;
			display: inline-block;
		}

		.pause {
			float: left;
		}
		.stop {
			float: right;
		}

		.time {
			width: 150px;
			text-align: center;
		}

	}
}

form{

	input {
		width: 90%;
		margin: 2px 5%;
		background-color: #252732;
		border: none;
		&[type='submit'] {
			width: 60px;
		}
		&[type='radio'] {
			width: 10px;
			display: inline;
			&:first-child {
				margin-left: 5%;
			}
		}

		&[type='submit'] {
			margin: 2px 0;
		}


	}

	.minicolors-theme-default.minicolors {
		width: 100%;
	}

	.minicolors-swatch {
		margin-left: 5%;
	}

	.glyphicon {
		font-size: 200%;
	}

	a .glyphicon {
		font-size: 100%;
	}

}



