
/*  STRUCTURAL */

html, body {
	height: 100%;
}

body {
	background: #48516a; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #48516a 0%, #252732 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#48516a), color-stop(100%,#252732)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #48516a 0%,#252732 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #48516a 0%,#252732 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #48516a 0%,#252732 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #48516a 0%,#252732 100%); /* W3C */
	background-size: 100%;

	font-family: 'Armata-Regular', sans-serif;
	color: #607196;

}

nav.navbar-default {
	border-radius: 0;
	background-color: rgba(0,0,0,0.2);
	
	font-color: #607196;
	border: 1px solid #000000;
	box-shadow: rgba(0,0,0,0.92) 9px 6px 8px;

	.navbar-brand {
		color: #607196;
	}

	.navbar-nav > li > a {
		color: #607196;
	}
	
	
}

/* GLOBAL STYLES */

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Armata-Regular', sans-serif;
	color: #607196;
}

ul {
	list-style-type: none;
}

a:hover {
	text-decoration: none;
}

.btn-primary {
	color: #607196;
	background-color: #252732;
	border-color: #48516a;
}

.btn-primary:hover {
	color: #607196;
	background-color: #48516a;
}

.nav-link {
	font-size: 16px;
	color: #607196;
	&:hover {
		color: #48516a;
	}

}

.vert-list {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

h1 .h1-small {
	font-size: 60%;
}
/*	MAIN FEATURES */

.float-box {
	border: 1px solid #111111;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.92) 9px 6px 8px;

	padding: 20px;

	a {
		color: #607196;

		&:hover {
			color: #48516a;
		}
	}

}

.item-box {
	margin: 5px 30px;
	a {
		color: #607196;

		&:hover {
			color: #48516a;
		}
	}



}

form input {
	width: 90%;
	margin: 2px 5%;
	background-color: #252732;
	border: none;
	&[type='submit'] {
		width: 60px;
	}
}
