@import "variables";

.report-table {
  background-color: $white;
  border: 2px solid $dark-blue;
  width: 90%;
  margin: 5px 5%;
  color: $dark-blue;

  tr:nth-child(odd) {
    background-color: $pale-blue;
  }
  
  tr.report-header,
  tr.report-totals {
    background-color: $dark-blue;
    color: $white;
  }

}