<h2>
	<select name='clients-select' id='clients-select'>
		<option value='' disabled='disabled' selected='selected'>Client...</option>
		<% @clients.each do |client| %>
			<option value='<%= client.id %>'><%= client.name %></option>
		<% end %>
	</select>
</h2>