<h2>
	<select name='projects-select' id='projects-select'>
		<option value='' disabled='disabled' selected='selected'>Select project...</option>
		<% @projects.each do |project| %>
			<option value='project<%= project.id %>'><%= project.name %></option>
		<% end %>
	</select>
</h2>