<h2>
	<select name='tasks-select' id='tasks-select'>
		<option value='' disabled='disabled' selected='selected'>Select task...</option>
		<% @tasks.each do |task| %>
			<option value='<%= task.id %>'><%= task.name %></option>
		<% end %>
	</select>
</h2>